@use "sass:color";
@use "./paletaDeColores" as vars; 

body{
    background-color: vars.$Negro ;
    font-family: vars.$fuente ;
    color: vars.$Blanco;
}



  .Encabezado {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 130px;
    background-color: vars.$Negro;
    padding: 0 20px;
    flex-wrap: nowrap;

               
    .LogoInst {
            max-height: 130px;
            display: block;
            padding: 10px;
        }
        

    .PagesList {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        width: auto;
        text-decoration: none;

        .topnav {
                display: flex;
                align-items: center;
                gap: 16px;
                text-decoration: none;

                ul {
                list-style: none;
                display: flex;
                gap: 1rem;
               
                }

                
            
                a {
                text-decoration: none;
                color: white;
                padding: 14px 16px;
                display: block;
                text-align: center;
                }

                a:hover {
                background-color: vars.$Amarillo;
                color: black;
                }
            }
        }
  }
